<!DOCTYPE html>
<html>

<head>
	<title>roylatgnail.tk</title>
	<meta property="og:title" content="world's gayest programmer">
	<meta property="og:type" content="video.movie">
	<meta property="og:url" content="https://www.roylatgnail.tk">
	<meta property="og:image" content="/static/kiki.png">
	<meta name="viewport" content="width=device-width, initial-scale=0.5">
	<style>
		body {
			font-family: 'Courier New', monospace;
			background-color: black;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
            height: 100vh;
            box-sizing: border-box
		}

		a {
			color: white;
		}

		p {
			color: white;
		}

		h2 {
			color: white;
		}

		h3 {
			color: white;
		}

		li {
			color: white;
		}

		
	</style>
</head>

<body>
	<div class="content">
		
        <br><br><br><br><br><br>
        <br><br><br><br><br><br>
        <br><br><br>
        
        <h2>roylatgnail</h2>
		<p>worlds gayest programmer</p><br>
        <a href="misc">click here for things like pronouns</a><br>
        <hr>
        <h3>About Me</h3>
        <p>
            Im a trans fullstacker developer that sometimes does OS dev.<br>
            Im mostly interested in everything legacy. <br>
            I know the following programming languages
            <ul>
                <li>Python</li>
                <li>Javascript</li>
                <li>C++/C</li>
                <li>Ruby</li>
                <li>Nim</li>
                <li>Pascal (thank you emily for teaching me this)</li>
            </ul><br>
            
        </p>
        <hr>

        <h3>Projects</h3>
        <p>
            Most of my projects have been deleted or have not been finished.<br>
            When I do finish something or want to share it, ill put a link here. <br><br>
            
            <a href="https://github.com/uwugnail/bruhmoment">Uniblock: A node.js based unblocker</a><br>
			<a href="https://github.com/uwugnail/trans-theme">VS code pride theme (trans/pan)</a><br>
			<a href="https://github.com/uwugnail/bill-clinton">bill clinton: A bot that gives out us atrocities</a><br>
			<a href="https://github.com/uwugnail/token">JWT token writen in PHP. Uses HMAC256 and can create and verify tokens</a><br>
			<a href="https://github.com/uwugnail/uwugnail">Github readme</a><br>
            <a href="https://github.com/uwugnail/personal-site">This site</a><br>

        </p>
        <hr>
        
        <h3>Contact Me</h3>
        <p>
            <p>Discord: linux witch#5322</p>
            
            <a href="https://github.com/uwugnail">Github</a>
            <a href="https://twitter.com/linuxenjoyer69">Twitter</a>
            
        </p>
    </div>
</body>

</html>
