<!DOCTYPE html>
<html>

<head>
	<title>roylatgnail.tk</title>
	<meta property="og:title" content="world's gayest programmer">
	<meta property="og:type" content="video.movie">
	<meta property="og:url" content="https://www.roylatgnail.tk">
	<meta property="og:image" content="/static/kiki.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			font-family: 'Courier New', monospace;
			background-color: black;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
            height: 100vh;
            box-sizing: border-box
		}

		a {
			color: white;
		}

		p {
			color: white;
		}

		h2 {
			color: white;
		}

		h3 {
			color: white;
		}

        h4 {
            color: white;
        }

		li {
			color: white;
		}

		
	</style>
</head>

<body>
	<div class="content">
        <a href="/">back to the main page</a>
        <h4>Pronouns</h3>
        <ul>
            <li><b>They/Them</b></li>
            <li><b>She/Her</b></li>
        </ul>
        <hr>
        <h4>Names</h3>
        <ul>
            <li>Natalie</li>
            <li>Taylor</li>
            <li>eilatangnail</li>
            <li>roylatgnail</li>
        </ul>
        <hr>
        <h4>Do not use the following when refering to me</h3>
        <ul>
            <li>Sir</li>
            <li>Man</li>
            <li>Dude</li>
            <li>Darling</li>
            <li>Handsome</li>
            <li>Pal</li>
        </ul>
    </div>
</body>

</html>